<table>
    $for(papers)$
    <tr>
      <td class="pub">
          <span class="pub-title">
              $if(pdf)$
              <a href = $pdf$>
              $endif$
              $title$
              $if(pdf)$
              </a>
              $endif$
          </span>
          $if(award)$
          <br/><span class="pub-award">$award$</span>
          $endif$
          $if(note)$
          <br/><span class="pub-note">[$note$]</span>
          $endif$
          <br/>
          <span class="pub-authors">$authors$</span>
          <br/>

	$if(venue)$
	<span class="pub-venue">$venue$</span>.
	$endif$

	$if(month)$
	<span class="pub-month">$month$</span>.
	$endif$

	$if(slides)$
	 <a href=$slides$ title="slides" class="icon"><img src="/images/easel-fill.svg"/></a>
	 $endif$

    $if(arxiv)$
     <a href=$arxiv$ title="arxiv" class="icon"><img src="/images/archive.svg"/></a>
    $endif$
    $if(video)$
     <a href=$video$ title="video" class="icon">
         <img src="/images/camera-reels.svg"/>
     </a>
    $endif$

    $if(code)$
     <a href=$code$ title="code" class="icon">
         <img src="images/code-square.svg"/>
     </a>
     $endif$
	</td>
    </tr>
    $endfor$
</table>
