body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: Arial, sans-serif;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

table.links a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    /* text-decoration: none; */
    /* text-transform: uppercase; */
}

table.links tr td {
    /* border: 2px solid black;	 */
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
    color: #0b0a0a;
}

h3 {
    color: #0b0a0a;

}

h2 {
    font-size: 20px;
    color: #0b0a0a;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
}

#profile{
    padding: 0px 0px 20px 0px;
}

#info {
    float: right;
    margin: auto;
    width: 55%;
    padding: 10px 15px 10px 10px;
}

/* #info > p { */
/*     font-size: 14pt; */
/*     margin-top: 0; */
/*     margin-bottom: 5px; */
/* } */

/* #info a { */
/*     color: black; */
/*     font-size: 18px; */
/*     font-weight: bold; */
/*     margin-left: 12px; */
/* } */

.sc {
    font-variant: small-caps;
    font-size: 110%;
}


#blurb {
    margin-top: 10px;
    clear: left;
    border-top: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: gainsboro;
}

pre,
code {
    background-color: gainsboro;
    padding : 2px
}
