body {
    color: #030609;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    /* font-family: Arial, sans-serif; */
    font-family: Lato, sans-serif;
    background-color: #F9FBFD;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}


#logo {
    padding-left: 22px;
}

div#logo a {
    color:  #030609;
    float: left;
    font-size: 18px;
    /* font-weight: bold; */
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a:hover {
    font-weight: bold;
}

div#header #navigation a {
    color:  #030609;
    font-size: 18px;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

table.links a{
    /* color: black; */
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    /* text-decoration: none; */
    /* text-transform: uppercase; */
}

table.links tr td {
    /* border: 2px solid black;	 */
}

a:hover {
    text-decoration: underline;
}

a {
    color: #4682B4;
    text-decoration: none;
}


div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

h3 {
    /* color: #0b0a0a; */

}

h2 {
    font-size: 20px;
    /* color: #0b0a0a; */
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

div.info {
    /* color: #555; */
    font-size: 14px;
    /* font-style: italic; */
    padding-bottom: 10px;
}


#profile{
    padding: 0px 0px 20px 0px;
}

#info {
    float: right;
    margin: auto;
    width: 55%;
    padding: 10px 15px 10px 10px;
}

.sc {
    font-variant: small-caps;
    font-size: 110%;
}


#blurb {
    margin-top: 10px;
    clear: left;
    border-top: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;
    line-height: 14pt;
}

tr:nth-child(odd) {
    background-color: #E1E6EB;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 6px;
    background-color: #E1E6EB;
}

code {
    font-size: 85%;
    line-height: 1.45;
    border-radius: 6px;
    padding: 1px;
    background-color: #E1E6EB;
}
.subtitle {
    font-style:italic;
    font-size:14px;
}

.posts a{
    color:#030609;
}

.icon img {
    width: 15px;
    height: 15px;
}
